@(message: String)(implicit dat: Collection[kor.model.Professor])


@lab4 {
	<h3>@message</h3>
	<table class="table table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>Imię</th>
				<th>Nazwisko</th>
				<th>Pensum</th>
			</tr>
		</thead>
		<tbody>
			@if(dat.isEmpty()) {
				<tr>
					<td colspan="4">Brak wyników dla zapytania.</td>
				</tr>
			} else {
				<ul>
				@for((d, i) <- dat.zipWithIndex) {
					<tr>
						<td>@(i+1)</td>
						<td>@d.getFname()</td>
						<td>@d.getSname()</td>
						<td>@d.getAddress.getCity()</td>
					</tr>
				} 
				</ul>
			}
		</tbody>
	</table>
}